@import "bootstrap/bootstrap.less";
/*@brand-primary: #007A00;*/
/*
 * Globals
 */
@main-color:#000000;
@body-bg: darken(@main-color, 10%);
@link-color: @body-bg;
body {
  //font-family: Georgia, "Times New Roman", Times, serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;

}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

@header-height:44px;
@left-sidebar-width:150px;
@panel-bg: #fff;
header{
	height: @header-height;
	padding:5px;
	background: rgba(0,0,0,0.5);
	h1{
		margin:0;
		padding:0;
		font-size:24px;
		color:white;
		
	}
}





/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
#chapters{
	.active{
		font-weight:bold;
	}
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}



.article {
  margin-bottom: 60px;
}
.content {
 background:white;
 border-radius:5px;
 box-shadow:0 0 5px 0 rgba(0,0,0,0.5);
}
.article-title {
  margin-bottom: 5px;
  font-size: 40px;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.panel{
	padding:0;
	.panel-variant(#000; #fff; rgba(0,0,0,0.5); #fff);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.5);
	border:1px solid #fff;
}
.carousel-caption{
background:rgba(0,0,0,0.5);
border-radius:5px;
}
#carbonads-container {display:none} h1[id] {padding-top:0px; margin-top:20px} .bs-old-docs {display:none} .bs-social {display:none} .col-md-3 {display:none !important} .col-md-9 {width:100% !important} .navbar-fixed-top {position:absolute !important}


.interactive{
	color:black; 
	font-size: 18px;
	input[type="number"] {
	   font-weight: bold;
	   color: black;
	}
}

.interactive:hover{
	input[type="number"] {
	   -webkit-animation: glow 1s linear infinite;
	}
}
@-webkit-keyframes glow {
  from{
      box-shadow:0 0 5px 0 rgba(0,120,200,0.5);
  }
  50%{
	   box-shadow:0 0 5px 3px rgba(0,120,200,0.5);
  }
  to{
      box-shadow:0 0 5px 0 rgba(0,120,200,0.5);
  }
}