@import "bootstrap/bootstrap.less";
@import "3L/3L.less";

@main-color:#FFFFFF;
@main-simulation-color:#154;
@body-bg: darken(@main-color, 10%);
@text-color: #000;

@font-size-base: 12px;

@header-height:44px;
@left-sidebar-width:256px;
@panel-bg: #CCC;

@selectionColor: #00F;
.simulating{
	background-color:darken(@main-simulation-color, 10%);
}
body {
  margin-bottom: 42px;
}
footer.pageFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  padding: 10px;
  font-size: 12px;
  opacity: 0.6;
}


header{
	height: @header-height;
	padding:5px;
	background: rgba(0,0,0,0.5);
	color: white;
	h1{
		margin:0;
		padding:0;
		font-size:24px;
		
	}
	button{
		background: rgba(0,0,0,0.2);
	}
	button:hover{
		color: rgba(255,255,255,0.2);

		color: rgba(255,255,255,0.7);
	}
}
#frame {
	position:absolute;
	//background: darken(@main-color, 15%);
	top:@header-height+10px;
	bottom:10px;
	left:@left-sidebar-width+10px;
	right:10px;
	border-radius:5px;
	//border:1px solid #fff;
	//box-shadow:0 0 5px 0 rgba(0,0,0,0.5);
}

#toolbar {
	position:absolute;
	padding:10px;
	top:@header-height;
	bottom:0;
	left:0;
	width:@left-sidebar-width;
}

section{
	/*padding-left:10px;
	padding-right:10px;*/
	
	.panel-variant(#000; #fff; rgba(0,0,0,0.5); #fff);
	box-shadow:0 0 5px 0 rgba(0,0,0,0.5);
	border:1px solid #fff;
}
#objectPalette {
	padding-left:0px;
	padding-right:0px;
	width:100%;
	.btn{
		text-align:left;
		img{margin-right:5px;}
	}
}

#fileList{
	td{
		border: none;
		width:16px;
	}
	th{
		border:1px solid #ddd;
	}
	th:hover{
		background:rgba(0,0,0,0.1);
	}
}

@component-background-color: #fff;
@component-foreground-color: #000000;
@component-input-background-color: #4A829B;
@component-input-foreground-color: #fff;
@component-output-background-color: #73B9B7;//73B9B7
@component-output-foreground-color: #fff;
.component.input{
	table.component{
	.vertical-gradient( @component-input-background-color, darken( @component-input-background-color, 10%));
	color: @component-input-foreground-color;
	border-color: darken(@component-input-background-color, 30%);

	td[data-outlet] div{
		border-color: @component-input-foreground-color;
	}
	td[data-outlet].connected div{
		background: @component-input-foreground-color;
	}
	}
}

.component.output{
	table.component{
	.vertical-gradient( @component-output-background-color, darken( @component-output-background-color, 10%));
	color: @component-output-foreground-color;
	border-color: darken(@component-output-background-color, 30%);

	td[data-outlet] div{
		border-color: @component-output-foreground-color;
	}
	td[data-outlet].connected div{
		background: @component-output-foreground-color;
	}
	}
}
.component.selected table.component{
box-shadow: 0px 0px 0px 3px @selectionColor;
}
div.component.edit{
		background: rgba(0,0,0,0.1);
}
div.component{
	display: inline-block;
	position: absolute;
	top: 0;
	padding: 3px;
	border-radius: 5px;
	table.component{

		border-collapse: separate;
	.vertical-gradient( @component-background-color, darken( @component-background-color, 10%));
	color: @component-foreground-color;
	border-radius: 6px;
	padding: 2px 0;
	border: 1px solid darken(@component-background-color, 30%);
	}
	font-size: 81%;

	td{
		padding: 1px 2px;
	}
	td[data-outlet]:hover{
		background: rgba(0,0,0,0.2);
	}
	td[data-outlet].hover{
		background: rgba(0,0,0,0.2);
	}
	td.right{
		text-align: right;
	}
	

	td[data-outlet] div{
		display: inline-block;
		width:8px;
		height:8px;
		margin: 0 2px;
		border: 1px solid;
		border-radius: 100%;
	}
	td[data-outlet].connected div{
		background: @component-foreground-color;
	}
	footer{
		font-size: 15px;
		text-align:center;
		span[data-variable]{
			//float: left;
		}
		.parametersButton{
			float:right;
			color: rgba(0,0,0,0.3);
		}
		.parametersButton:hover{
			color: rgba(0,0,0,0.5);
		}
	}
	.parameterPane{
		display:none;
	}
	
}

.component.destination{
	td[data-outlet]{
		opacity:0.5;
	}
	td[data-outlet].available{
		opacity: 1;
	}

}